@import '../styles/variables.scss';

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;

    form {
        display: flex;
        flex-direction: column;
        background-color: $white;
        justify-content: center;
        align-items: center;
        padding: 2dvh;
        border-radius: 2dvh;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        text-align: center;

        #email, #password, button {
            margin: 2dvh;
        }

        button {
            height: 5dvh;
            width: 20dvh;
            border: none;
            border-radius: 2dvh;
            background-color: $red;
            color: $white;
            transition: background-color .9s;
        }

        button:hover {
            background-color: $secondaryRed;
        }

        .error-message {
            color: $red;
            font-size: 1rem;
        }
    }
}