@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
  padding: 5dvh 0;
  margin-top: 4dvh;
}
.footer-container .footer-menu {
  display: flex;
}
.footer-container .footer-menu .footer-list {
  display: flex;
  flex-direction: row;
  gap: 5dvh;
  list-style-type: none;
}
.footer-container .footer-menu .footer-list .footer-link a {
  transition: color 0.9s, border-bottom 0.9s;
  text-decoration: none;
}
.footer-container .footer-menu .footer-list .footer-link a:hover {
  color: rgb(104, 211, 104);
  border-bottom: 1px solid rgb(104, 211, 104);
}
.footer-container .footer-icons i {
  margin-right: 2dvh;
  transition: color 0.9s;
}
.footer-container .footer-icons i:hover {
  color: rgb(104, 211, 104);
  animation: scale 1s infinite linear;
}

@keyframes scale {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(8px);
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
  padding: 5dvh 0;
}
nav .nav-menu {
  display: flex;
}
nav .nav-menu .nav-list {
  display: flex;
  flex-direction: row;
  gap: 5dvh;
  text-decoration: none;
}
nav .nav-menu .nav-list a {
  transition: color 0.9s, border-bottom 0.9s;
  text-decoration: none;
}
nav .nav-menu .nav-list a:hover {
  color: rgb(104, 211, 104);
  border-bottom: 1px solid rgb(104, 211, 104);
}
nav .nav-icons i {
  margin-right: 2dvh;
  transition: color 0.9s;
}
nav .nav-icons i:hover {
  color: rgb(104, 211, 104);
  animation: scale 1s infinite linear;
}
nav #mobile_btn {
  display: none;
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#mobile_menu {
  display: none; /* Começa escondido */
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgb(247, 36, 36);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  z-index: 1000;
}
#mobile_menu #mobile_nav_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  text-align: center;
}
#mobile_menu .nav_item {
  font-size: 1rem;
}
#mobile_menu .nav_item a {
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}

#mobile_menu.active {
  display: flex; /* Exibe quando ativado */
  flex-direction: column;
  align-items: center;
}

#mobile_btn {
  display: block;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#carouselExampleCaptions {
  position: relative;
}
#carouselExampleCaptions .carousel-caption {
  position: absolute;
  bottom: 50%;
}
#carouselExampleCaptions .carousel-caption h5 {
  font-family: "Roboto", serif;
  font-size: 2.5rem;
  font-weight: 600;
}
#carouselExampleCaptions .carousel-caption .carousel-btn {
  background-color: transparent;
  width: 35dvh;
  height: 5dvh;
  color: #ffffff;
  border: 2px solid rgba(15, 15, 15, 0.87);
  border-radius: 1dvh;
  transition: border 0.9s;
  animation: pulse 1s infinite linear;
}
#carouselExampleCaptions .carousel-caption .carousel-btn:hover {
  border: 2px solid rgb(104, 211, 104);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
.login-container form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  padding: 2dvh;
  border-radius: 2dvh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.login-container form #email, .login-container form #password, .login-container form button {
  margin: 2dvh;
}
.login-container form button {
  height: 5dvh;
  width: 20dvh;
  border: none;
  border-radius: 2dvh;
  background-color: rgb(209, 77, 77);
  color: #ffffff;
  transition: background-color 0.9s;
}
.login-container form button:hover {
  background-color: rgb(247, 36, 36);
}
.login-container form .error-message {
  color: rgb(209, 77, 77);
  font-size: 1rem;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 10dvh 5dvh;
}
.about .size {
  flex: 1;
}
.about h1 {
  text-align: center;
  font-weight: 500;
}
.about p {
  line-height: 2rem;
}
.about img {
  filter: brightness(40%);
  border-radius: 1dvh;
  transition: transform 0.9s;
  height: 50dvh;
  -o-object-fit: cover;
     object-fit: cover;
}
.about img:hover {
  transform: rotate(2deg);
}

.menu {
  text-align: center;
}
.menu h2 {
  text-align: center;
  margin-bottom: 10dvh;
  font-weight: 500;
}
.menu .menu-link {
  padding-top: 5dvh;
  color: rgb(104, 211, 104);
  text-decoration: none;
  font-size: 1.4rem;
  transition: color 0.9s;
}
.menu .menu-link:hover {
  color: rgb(58, 243, 58);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  border: none;
  gap: 2dvh;
  margin: 1dvh 1dvh;
}
.grid .card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  border-radius: 1dvh;
  overflow: hidden;
  margin-bottom: 5dvh;
}
.grid .card img {
  width: 100%;
  height: 40dvh;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.9s;
  filter: brightness(40%);
}
.grid .card img:hover {
  transform: scale(1.1);
}
.grid .card .card-text {
  padding-top: 3dvh;
  padding-left: 3dvh;
  padding-right: 2dvh;
  text-align: center;
}
.grid .card .card-text .card-title {
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(209, 77, 77);
  margin: 2dvh 2dvh;
}
.grid .card .card-text .card-title .card-description {
  padding-top: 2dvh;
}
.grid .card .card-text .card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2dvh 2dvh;
}
.grid .card .card-text .card-info .card-price {
  color: rgb(209, 77, 77);
  font-weight: 600;
}
.grid .card .card-text .card-info .add-to-cart-btn {
  border: none;
  border-radius: 1dvh;
  width: 7dvh;
  transition: opacity 0.9s;
}
.grid .card .card-text .card-info .add-to-cart-btn:hover {
  opacity: 50%;
}

.location {
  margin-top: 10dvh;
}
.location .address {
  text-align: center;
  margin-bottom: 4dvh;
}

.contact {
  display: flex;
  max-width: 1240px;
  margin: auto;
  margin-top: 10dvh;
}
.contact .contact-text h3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}
.contact .contact-text p {
  line-height: 2rem;
}
.contact div {
  flex: 1;
}
.contact .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .form .name, .contact .form .email, .contact .form .message {
  display: flex;
}
.contact .form .name p, .contact .form .email p, .contact .form .message p {
  margin-top: 2dvh;
  margin-right: 2dvh;
  color: rgba(15, 15, 15, 0.87);
  text-align: center;
}
.contact .form .name #text, .contact .form .name #email, .contact .form .name #msg, .contact .form .email #text, .contact .form .email #email, .contact .form .email #msg, .contact .form .message #text, .contact .form .message #email, .contact .form .message #msg {
  width: 70dvh;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(15, 15, 15, 0.87);
  color: rgba(15, 15, 15, 0.87);
  font-family: "Poppins", serif;
}
.contact .form .name #text, .contact .form .name #email, .contact .form .email #text, .contact .form .email #email, .contact .form .message #text, .contact .form .message #email {
  height: 10dvh;
}
.contact .form .name #msg, .contact .form .email #msg, .contact .form .message #msg {
  height: 30dvh;
}
.contact .form .send-msg-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .form .send-msg-btn .submit-btn {
  margin-top: 3dvh;
  color: rgb(104, 211, 104);
  background-color: transparent;
  border: none;
  transition: color 0.8s;
}
.contact .form .send-msg-btn .submit-btn:hover {
  color: rgb(58, 243, 58);
}

.space {
  display: flex;
  flex-direction: column;
}
.space h2 {
  text-align: center;
  margin-bottom: 5dvh;
}
.space .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5dvh;
  margin: 1dvh 1dvh;
}
.space .grid-container .card {
  border-radius: 1dvh;
  overflow: hidden;
}
.space .grid-container .card img {
  height: 40dvh;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(40%);
  transition: transform 0.8s;
  border-radius: 1dvh;
}
.space .grid-container .card img:hover {
  transform: scale(1.1);
}

.menu {
  margin-top: 5dvh;
}
.menu h2 {
  text-align: center;
}

.cart-modal-button {
  display: flex;
}
.cart-modal-button #cart-btn {
  margin: 0 auto;
  background-color: rgb(104, 211, 104);
  border: none;
  border-radius: 2dvh;
  color: #ffffff;
  width: 35dvh;
  height: 6dvh;
  transition: background-color 0.8s;
}
.cart-modal-button .cart-btn:hover {
  background-color: rgb(58, 243, 58);
}

.fullscreen {
  position: fixed;
  z-index: 55;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.fullscreen .carrinho {
  background-color: #ffffff;
  min-width: 90%;
  border-radius: 2dvh;
  text-align: center;
  font-weight: bold;
  margin: 2dvh 2dvh;
}
.fullscreen .carrinho h2 {
  margin-top: 2dvh;
}
.fullscreen .carrinho #cart-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1dvh 1dvh;
}
.fullscreen .carrinho #cart-items .remove-from-cart-btn {
  background-color: rgb(209, 77, 77);
  border-radius: 2dvh;
  border: none;
  width: 15dvh;
  color: #ffffff;
  transition: background-color 0.8s;
}
.fullscreen .carrinho #cart-items .remove-from-cart-btn:hover {
  background-color: rgb(247, 36, 36);
}
.fullscreen .carrinho p {
  font-weight: bold;
}
.fullscreen .carrinho #address {
  width: 90%;
  padding: 2dvh 1dvh;
  margin: 2dvh 1dvh;
  border: none;
  border-radius: 1dvh;
}
.fullscreen .carrinho #address-warn {
  color: rgb(201, 62, 62);
  font-weight: 500;
  display: none;
}
.fullscreen .carrinho div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2dvh;
  gap: 3dvh;
}
.fullscreen .carrinho div #close-modal-btn {
  background-color: rgb(209, 77, 77);
  border: none;
  border-radius: 2dvh;
  color: #ffffff;
  width: 10dvh;
  transition: background-color 0.8s;
}
.fullscreen .carrinho div #close-modal-btn:hover {
  background-color: rgb(247, 36, 36);
}
.fullscreen .carrinho div #checkout-btn {
  background-color: rgb(104, 211, 104);
  color: #ffffff;
  padding: 2dvh 2dvh;
  border-radius: 2dvh;
  border: none;
  transition: background-color 0.8s;
}
.fullscreen .carrinho div #checkout-btn:hover {
  background-color: rgb(58, 243, 58);
}

@media screen and (max-width: 600px) {
  nav {
    display: flex !important;
    padding: 1dvh 1dvh !important;
  }
}
@media screen and (max-width: 1170px) {
  .nav-list {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  #mobile_btn {
    display: block !important;
  }
}
@media (width <= 768px) {
  .carousel-caption {
    display: none;
  }
}
@media (width >= 768px) {
  .about {
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    margin: auto;
  }
}
@media (width >= 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1240px;
    margin: auto;
  }
  .grid .card {
    display: flex;
    flex-direction: row !important;
  }
  .grid .card img {
    width: 40dvh;
    height: 40dvh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (width <= 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    margin: 1dvh 1dvh;
  }
  .contact #text,
  .contact #email,
  .contact #msg {
    width: 90% !important;
  }
}
@media (width >= 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    max-width: 1240px;
    margin: auto;
  }
}
@media (width >= 768px) {
  #cart-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1dvh 1dvh;
  }
}
@media (width <= 1170px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-container .footer-list {
    display: flex;
    flex-direction: column !important;
  }
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
.login-container form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  padding: 2dvh;
  border-radius: 2dvh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.login-container form #email, .login-container form #password, .login-container form button {
  margin: 2dvh;
}
.login-container form button {
  height: 5dvh;
  width: 20dvh;
  border: none;
  border-radius: 2dvh;
  background-color: rgb(209, 77, 77);
  color: #ffffff;
  transition: background-color 0.9s;
}
.login-container form button:hover {
  background-color: rgb(247, 36, 36);
}
.login-container form .error-message {
  color: rgb(209, 77, 77);
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  background-color: rgb(247, 36, 36);
}

main {
  background-color: #ffffff;
}

footer {
  background-color: rgb(247, 36, 36);
}

body {
  width: 100%;
  height: 100dvh;
  position: relative;
  outline: none;
  overflow-x: hidden;
}

p {
  font-size: 1rem;
  font-family: "Poppins", serif;
  color: rgba(15, 15, 15, 0.87);
}

h1,
h2 {
  font-size: 2.5rem;
  font-family: "Roboto", serif;
  color: rgba(15, 15, 15, 0.87);
}

a {
  font-size: 1rem;
  font-family: "Poppins", serif;
  color: #ffffff;
  cursor: pointer;
}

i {
  font-size: 1.3rem;
  color: #ffffff;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-family: "Poppins", serif;
  background-color: rgba(15, 15, 15, 0.87);
}

img {
  width: 100%;
}

svg {
  width: 100%;
}

@media (width <= 768px) {
  h1,
  h2 {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */